--
-- PostgreSQL database dump
--

\restrict VXx4jIHQg7VytUTuqwBdhfW7YDuBF7E8DiiH8jY7L4x9JuIqXF06jg6PQOLmuVi

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: tisa_admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO tisa_admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: tisa_admin
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AIInteractionType; Type: TYPE; Schema: public; Owner: tisa_admin
--

CREATE TYPE public."AIInteractionType" AS ENUM (
    'QUESTION',
    'EXPLANATION',
    'EXAMPLE',
    'HINT',
    'FEEDBACK',
    'TRANSLATION',
    'SUMMARY'
);


ALTER TYPE public."AIInteractionType" OWNER TO tisa_admin;

--
-- Name: AchievementType; Type: TYPE; Schema: public; Owner: tisa_admin
--

CREATE TYPE public."AchievementType" AS ENUM (
    'COURSE_COMPLETION',
    'STREAK',
    'PERFECT_SCORE',
    'EARLY_BIRD',
    'NIGHT_OWL',
    'HELPFUL_PEER',
    'MILESTONE'
);


ALTER TYPE public."AchievementType" OWNER TO tisa_admin;

--
-- Name: AssignmentType; Type: TYPE; Schema: public; Owner: tisa_admin
--

CREATE TYPE public."AssignmentType" AS ENUM (
    'ESSAY',
    'MULTIPLE_CHOICE',
    'SHORT_ANSWER',
    'PROJECT',
    'CODING',
    'PRESENTATION'
);


ALTER TYPE public."AssignmentType" OWNER TO tisa_admin;

--
-- Name: CourseLevel; Type: TYPE; Schema: public; Owner: tisa_admin
--

CREATE TYPE public."CourseLevel" AS ENUM (
    'BEGINNER',
    'INTERMEDIATE',
    'ADVANCED',
    'EXPERT'
);


ALTER TYPE public."CourseLevel" OWNER TO tisa_admin;

--
-- Name: CourseStatus; Type: TYPE; Schema: public; Owner: tisa_admin
--

CREATE TYPE public."CourseStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED',
    'ARCHIVED'
);


ALTER TYPE public."CourseStatus" OWNER TO tisa_admin;

--
-- Name: EnrollmentStatus; Type: TYPE; Schema: public; Owner: tisa_admin
--

CREATE TYPE public."EnrollmentStatus" AS ENUM (
    'ACTIVE',
    'COMPLETED',
    'DROPPED',
    'PAUSED'
);


ALTER TYPE public."EnrollmentStatus" OWNER TO tisa_admin;

--
-- Name: LearningStyle; Type: TYPE; Schema: public; Owner: tisa_admin
--

CREATE TYPE public."LearningStyle" AS ENUM (
    'VISUAL',
    'AUDITORY',
    'KINESTHETIC',
    'READING_WRITING',
    'MIXED'
);


ALTER TYPE public."LearningStyle" OWNER TO tisa_admin;

--
-- Name: LessonType; Type: TYPE; Schema: public; Owner: tisa_admin
--

CREATE TYPE public."LessonType" AS ENUM (
    'VIDEO',
    'TEXT',
    'AUDIO',
    'INTERACTIVE',
    'QUIZ',
    'ASSIGNMENT'
);


ALTER TYPE public."LessonType" OWNER TO tisa_admin;

--
-- Name: SubmissionStatus; Type: TYPE; Schema: public; Owner: tisa_admin
--

CREATE TYPE public."SubmissionStatus" AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'GRADED',
    'RETURNED'
);


ALTER TYPE public."SubmissionStatus" OWNER TO tisa_admin;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: tisa_admin
--

CREATE TYPE public."UserRole" AS ENUM (
    'STUDENT',
    'TEACHER',
    'PARENT',
    'ADMIN',
    'CONTENT_CREATOR'
);


ALTER TYPE public."UserRole" OWNER TO tisa_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AIInteraction; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."AIInteraction" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."AIInteractionType" NOT NULL,
    context text,
    "userMessage" text NOT NULL,
    "aiResponse" text NOT NULL,
    helpful boolean,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AIInteraction" OWNER TO tisa_admin;

--
-- Name: AccessibilitySettings; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."AccessibilitySettings" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "fontSize" integer DEFAULT 16 NOT NULL,
    "fontFamily" text DEFAULT 'Arial'::text NOT NULL,
    "highContrast" boolean DEFAULT false NOT NULL,
    "colorScheme" text DEFAULT 'default'::text NOT NULL,
    "reducedMotion" boolean DEFAULT false NOT NULL,
    "textToSpeechEnabled" boolean DEFAULT false NOT NULL,
    "ttsSpeed" double precision DEFAULT 1.0 NOT NULL,
    "ttsVoice" text DEFAULT 'default'::text NOT NULL,
    "speechToTextEnabled" boolean DEFAULT false NOT NULL,
    "keyboardOnly" boolean DEFAULT false NOT NULL,
    "captionsEnabled" boolean DEFAULT true NOT NULL,
    "transcriptsEnabled" boolean DEFAULT true NOT NULL,
    "signLanguageEnabled" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AccessibilitySettings" OWNER TO tisa_admin;

--
-- Name: Achievement; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Achievement" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."AchievementType" NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    icon text NOT NULL,
    points integer DEFAULT 0 NOT NULL,
    "earnedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Achievement" OWNER TO tisa_admin;

--
-- Name: Assessment; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Assessment" (
    id text NOT NULL,
    "courseId" text NOT NULL,
    "lessonId" text,
    title text NOT NULL,
    description text,
    "timeLimit" integer,
    "passingScore" double precision NOT NULL,
    "maxAttempts" integer,
    questions text NOT NULL,
    "isPublished" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Assessment" OWNER TO tisa_admin;

--
-- Name: AssessmentResult; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."AssessmentResult" (
    id text NOT NULL,
    "assessmentId" text NOT NULL,
    "userId" text NOT NULL,
    score double precision NOT NULL,
    answers text NOT NULL,
    "timeSpent" integer NOT NULL,
    passed boolean NOT NULL,
    attempt integer DEFAULT 1 NOT NULL,
    "completedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AssessmentResult" OWNER TO tisa_admin;

--
-- Name: Assignment; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Assignment" (
    id text NOT NULL,
    "courseId" text NOT NULL,
    "lessonId" text,
    title text NOT NULL,
    description text NOT NULL,
    type public."AssignmentType" NOT NULL,
    "maxScore" double precision NOT NULL,
    "dueDate" timestamp(3) without time zone,
    "allowLateSubmission" boolean DEFAULT false NOT NULL,
    instructions text NOT NULL,
    rubric text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Assignment" OWNER TO tisa_admin;

--
-- Name: ChatSession; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."ChatSession" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    messages jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ChatSession" OWNER TO tisa_admin;

--
-- Name: Course; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Course" (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    thumbnail text,
    level public."CourseLevel" NOT NULL,
    status public."CourseStatus" DEFAULT 'DRAFT'::public."CourseStatus" NOT NULL,
    duration integer,
    price double precision DEFAULT 0,
    tags text[],
    "creatorId" text NOT NULL,
    "teacherId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Course" OWNER TO tisa_admin;

--
-- Name: CourseReview; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."CourseReview" (
    id text NOT NULL,
    "courseId" text NOT NULL,
    "userId" text NOT NULL,
    rating integer NOT NULL,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CourseReview" OWNER TO tisa_admin;

--
-- Name: CurriculumEntry; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."CurriculumEntry" (
    id text NOT NULL,
    "programId" text NOT NULL,
    "yearLevel" integer NOT NULL,
    semester integer NOT NULL,
    "courseCode" text NOT NULL,
    "subjectName" text NOT NULL,
    units integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    prerequisites text[] DEFAULT ARRAY[]::text[]
);


ALTER TABLE public."CurriculumEntry" OWNER TO tisa_admin;

--
-- Name: Enrollment; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Enrollment" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "courseId" text NOT NULL,
    status public."EnrollmentStatus" DEFAULT 'ACTIVE'::public."EnrollmentStatus" NOT NULL,
    progress double precision DEFAULT 0 NOT NULL,
    "enrolledAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "completedAt" timestamp(3) without time zone,
    "lastAccessedAt" timestamp(3) without time zone
);


ALTER TABLE public."Enrollment" OWNER TO tisa_admin;

--
-- Name: Faculty; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Faculty" (
    id text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text,
    "position" text NOT NULL,
    college text DEFAULT 'College of Science'::text NOT NULL
);


ALTER TABLE public."Faculty" OWNER TO tisa_admin;

--
-- Name: FacultySubject; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."FacultySubject" (
    id text NOT NULL,
    "facultyId" text NOT NULL,
    "subjectId" text NOT NULL
);


ALTER TABLE public."FacultySubject" OWNER TO tisa_admin;

--
-- Name: GroupMessage; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."GroupMessage" (
    id text NOT NULL,
    "groupId" text NOT NULL,
    "userId" text NOT NULL,
    content text NOT NULL,
    attachments text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."GroupMessage" OWNER TO tisa_admin;

--
-- Name: Lesson; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Lesson" (
    id text NOT NULL,
    "courseId" text NOT NULL,
    title text NOT NULL,
    description text,
    type public."LessonType" NOT NULL,
    content text NOT NULL,
    "videoUrl" text,
    "audioUrl" text,
    transcript text,
    duration integer,
    "order" integer NOT NULL,
    "isPublished" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Lesson" OWNER TO tisa_admin;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    "senderId" text NOT NULL,
    "receiverId" text NOT NULL,
    subject text,
    content text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Message" OWNER TO tisa_admin;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    type text NOT NULL,
    link text,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO tisa_admin;

--
-- Name: Progress; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Progress" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "lessonId" text NOT NULL,
    completed boolean DEFAULT false NOT NULL,
    "timeSpent" integer DEFAULT 0 NOT NULL,
    "lastPosition" integer,
    attempts integer DEFAULT 0 NOT NULL,
    score double precision,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "completedAt" timestamp(3) without time zone,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Progress" OWNER TO tisa_admin;

--
-- Name: Resource; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Resource" (
    id text NOT NULL,
    "lessonId" text NOT NULL,
    title text NOT NULL,
    type text NOT NULL,
    url text NOT NULL,
    size integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Resource" OWNER TO tisa_admin;

--
-- Name: StudyGroup; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."StudyGroup" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "courseId" text,
    "maxMembers" integer DEFAULT 10 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."StudyGroup" OWNER TO tisa_admin;

--
-- Name: StudyGroupMember; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."StudyGroupMember" (
    id text NOT NULL,
    "groupId" text NOT NULL,
    "userId" text NOT NULL,
    role text DEFAULT 'member'::text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StudyGroupMember" OWNER TO tisa_admin;

--
-- Name: Subject; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Subject" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Subject" OWNER TO tisa_admin;

--
-- Name: Submission; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."Submission" (
    id text NOT NULL,
    "assignmentId" text NOT NULL,
    "userId" text NOT NULL,
    content text NOT NULL,
    attachments text[],
    status public."SubmissionStatus" DEFAULT 'DRAFT'::public."SubmissionStatus" NOT NULL,
    score double precision,
    feedback text,
    "gradedBy" text,
    "gradedAt" timestamp(3) without time zone,
    "submittedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Submission" OWNER TO tisa_admin;

--
-- Name: UniversityProgram; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."UniversityProgram" (
    id text NOT NULL,
    title text NOT NULL,
    abbreviation text,
    college text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UniversityProgram" OWNER TO tisa_admin;

--
-- Name: User; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    role public."UserRole" DEFAULT 'STUDENT'::public."UserRole" NOT NULL,
    avatar text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "learningStyle" public."LearningStyle",
    "gradeLevel" text,
    "dateOfBirth" timestamp(3) without time zone,
    "parentId" text
);


ALTER TABLE public."User" OWNER TO tisa_admin;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: tisa_admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO tisa_admin;

--
-- Data for Name: AIInteraction; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Data for Name: AccessibilitySettings; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Data for Name: Achievement; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."Achievement" (id, "userId", type, title, description, icon, points, "earnedAt") FROM stdin;
7b370ccb-7a01-4a7a-8472-dc783beaf56f	33770ace-9706-4c86-aa82-d1c796ea0c60	COURSE_COMPLETION	First Lesson Complete!	Completed your first lesson in Introduction to Algebra	≡ƒÄ»	10	2025-11-20 18:27:31.53
\.


--
-- Data for Name: Assessment; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."Assessment" (id, "courseId", "lessonId", title, description, "timeLimit", "passingScore", "maxAttempts", questions, "isPublished", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: AssessmentResult; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."AssessmentResult" (id, "assessmentId", "userId", score, answers, "timeSpent", passed, attempt, "completedAt") FROM stdin;
\.


--
-- Data for Name: Assignment; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."Assignment" (id, "courseId", "lessonId", title, description, type, "maxScore", "dueDate", "allowLateSubmission", instructions, rubric, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ChatSession; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Data for Name: Course; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Data for Name: CourseReview; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."CourseReview" (id, "courseId", "userId", rating, comment, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CurriculumEntry; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Data for Name: Enrollment; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Data for Name: Faculty; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Data for Name: FacultySubject; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."FacultySubject" (id, "facultyId", "subjectId") FROM stdin;
\.


--
-- Data for Name: GroupMessage; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."GroupMessage" (id, "groupId", "userId", content, attachments, "createdAt") FROM stdin;
\.


--
-- Data for Name: Lesson; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."Message" (id, "senderId", "receiverId", subject, content, "isRead", "createdAt") FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."Notification" (id, "userId", title, message, type, link, "isRead", "createdAt") FROM stdin;
3296f86d-1ad5-4197-bcb1-8a422aa62c0e	33770ace-9706-4c86-aa82-d1c796ea0c60	Welcome to AI Inclusive Learning!	Start your learning journey with personalized AI-powered education	info	/dashboard	f	2025-11-20 18:27:31.541
5a53464d-ce5d-4142-9b24-f63d5b3f55d2	33770ace-9706-4c86-aa82-d1c796ea0c60	New Lesson Available	Check out "Solving Simple Equations" in your Algebra course	success	/courses/0733e96a-60ff-4d5e-8079-5ce03d50b628	f	2025-11-20 18:27:31.544
\.


--
-- Data for Name: Progress; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."Progress" (id, "userId", "lessonId", completed, "timeSpent", "lastPosition", attempts, score, "startedAt", "completedAt", "updatedAt") FROM stdin;
14e0a391-9075-485a-9267-78d7a76c2ae3	a7dac806-3132-44f6-b4fc-b0cd5a116952	e57d5118-cadd-47d0-a0a0-6c883a6390f5	f	0	\N	0	\N	2025-11-21 03:21:55.676	\N	2025-11-21 03:21:55.676
\.


--
-- Data for Name: Resource; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."Resource" (id, "lessonId", title, type, url, size, "createdAt") FROM stdin;
\.


--
-- Data for Name: StudyGroup; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."StudyGroup" (id, name, description, "courseId", "maxMembers", "createdAt", "updatedAt") FROM stdin;
1961fbe9-f126-4f92-b4ff-efc636f429ed	Algebra Study Buddies	A group for students learning algebra together	0733e96a-60ff-4d5e-8079-5ce03d50b628	10	2025-11-20 18:27:31.533	2025-11-20 18:27:31.533
\.


--
-- Data for Name: StudyGroupMember; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."StudyGroupMember" (id, "groupId", "userId", role, "joinedAt") FROM stdin;
0e145191-ad5c-46d9-937b-be73c867c2e4	1961fbe9-f126-4f92-b4ff-efc636f429ed	33770ace-9706-4c86-aa82-d1c796ea0c60	admin	2025-11-20 18:27:31.533
984f2322-f497-4ab1-9aab-e416deb8d261	1961fbe9-f126-4f92-b4ff-efc636f429ed	ec4fc173-cbd4-4d9b-86bf-a24556e7581e	member	2025-11-20 18:27:31.533
\.


--
-- Data for Name: Subject; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."Subject" (id, code, name) FROM stdin;
\.


--
-- Data for Name: Submission; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--

COPY public."Submission" (id, "assignmentId", "userId", content, attachments, status, score, feedback, "gradedBy", "gradedAt", "submittedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: UniversityProgram; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: tisa_admin
--



--
-- Name: AIInteraction AIInteraction_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."AIInteraction"
    ADD CONSTRAINT "AIInteraction_pkey" PRIMARY KEY (id);


--
-- Name: AccessibilitySettings AccessibilitySettings_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."AccessibilitySettings"
    ADD CONSTRAINT "AccessibilitySettings_pkey" PRIMARY KEY (id);


--
-- Name: Achievement Achievement_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Achievement"
    ADD CONSTRAINT "Achievement_pkey" PRIMARY KEY (id);


--
-- Name: AssessmentResult AssessmentResult_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."AssessmentResult"
    ADD CONSTRAINT "AssessmentResult_pkey" PRIMARY KEY (id);


--
-- Name: Assessment Assessment_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Assessment"
    ADD CONSTRAINT "Assessment_pkey" PRIMARY KEY (id);


--
-- Name: Assignment Assignment_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Assignment"
    ADD CONSTRAINT "Assignment_pkey" PRIMARY KEY (id);


--
-- Name: ChatSession ChatSession_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."ChatSession"
    ADD CONSTRAINT "ChatSession_pkey" PRIMARY KEY (id);


--
-- Name: CourseReview CourseReview_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."CourseReview"
    ADD CONSTRAINT "CourseReview_pkey" PRIMARY KEY (id);


--
-- Name: Course Course_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_pkey" PRIMARY KEY (id);


--
-- Name: CurriculumEntry CurriculumEntry_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."CurriculumEntry"
    ADD CONSTRAINT "CurriculumEntry_pkey" PRIMARY KEY (id);


--
-- Name: Enrollment Enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_pkey" PRIMARY KEY (id);


--
-- Name: FacultySubject FacultySubject_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."FacultySubject"
    ADD CONSTRAINT "FacultySubject_pkey" PRIMARY KEY (id);


--
-- Name: Faculty Faculty_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Faculty"
    ADD CONSTRAINT "Faculty_pkey" PRIMARY KEY (id);


--
-- Name: GroupMessage GroupMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."GroupMessage"
    ADD CONSTRAINT "GroupMessage_pkey" PRIMARY KEY (id);


--
-- Name: Lesson Lesson_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Lesson"
    ADD CONSTRAINT "Lesson_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Progress Progress_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Progress"
    ADD CONSTRAINT "Progress_pkey" PRIMARY KEY (id);


--
-- Name: Resource Resource_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Resource"
    ADD CONSTRAINT "Resource_pkey" PRIMARY KEY (id);


--
-- Name: StudyGroupMember StudyGroupMember_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."StudyGroupMember"
    ADD CONSTRAINT "StudyGroupMember_pkey" PRIMARY KEY (id);


--
-- Name: StudyGroup StudyGroup_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."StudyGroup"
    ADD CONSTRAINT "StudyGroup_pkey" PRIMARY KEY (id);


--
-- Name: Subject Subject_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Subject"
    ADD CONSTRAINT "Subject_pkey" PRIMARY KEY (id);


--
-- Name: Submission Submission_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Submission"
    ADD CONSTRAINT "Submission_pkey" PRIMARY KEY (id);


--
-- Name: UniversityProgram UniversityProgram_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."UniversityProgram"
    ADD CONSTRAINT "UniversityProgram_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AIInteraction_createdAt_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "AIInteraction_createdAt_idx" ON public."AIInteraction" USING btree ("createdAt");


--
-- Name: AIInteraction_userId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "AIInteraction_userId_idx" ON public."AIInteraction" USING btree ("userId");


--
-- Name: AccessibilitySettings_userId_key; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE UNIQUE INDEX "AccessibilitySettings_userId_key" ON public."AccessibilitySettings" USING btree ("userId");


--
-- Name: Achievement_userId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Achievement_userId_idx" ON public."Achievement" USING btree ("userId");


--
-- Name: AssessmentResult_assessmentId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "AssessmentResult_assessmentId_idx" ON public."AssessmentResult" USING btree ("assessmentId");


--
-- Name: AssessmentResult_userId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "AssessmentResult_userId_idx" ON public."AssessmentResult" USING btree ("userId");


--
-- Name: Assessment_courseId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Assessment_courseId_idx" ON public."Assessment" USING btree ("courseId");


--
-- Name: Assignment_courseId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Assignment_courseId_idx" ON public."Assignment" USING btree ("courseId");


--
-- Name: ChatSession_updatedAt_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "ChatSession_updatedAt_idx" ON public."ChatSession" USING btree ("updatedAt");


--
-- Name: ChatSession_userId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "ChatSession_userId_idx" ON public."ChatSession" USING btree ("userId");


--
-- Name: CourseReview_courseId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "CourseReview_courseId_idx" ON public."CourseReview" USING btree ("courseId");


--
-- Name: CourseReview_courseId_userId_key; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE UNIQUE INDEX "CourseReview_courseId_userId_key" ON public."CourseReview" USING btree ("courseId", "userId");


--
-- Name: CourseReview_userId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "CourseReview_userId_idx" ON public."CourseReview" USING btree ("userId");


--
-- Name: Course_creatorId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Course_creatorId_idx" ON public."Course" USING btree ("creatorId");


--
-- Name: Course_status_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Course_status_idx" ON public."Course" USING btree (status);


--
-- Name: Course_teacherId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Course_teacherId_idx" ON public."Course" USING btree ("teacherId");


--
-- Name: Enrollment_courseId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Enrollment_courseId_idx" ON public."Enrollment" USING btree ("courseId");


--
-- Name: Enrollment_userId_courseId_key; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE UNIQUE INDEX "Enrollment_userId_courseId_key" ON public."Enrollment" USING btree ("userId", "courseId");


--
-- Name: Enrollment_userId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Enrollment_userId_idx" ON public."Enrollment" USING btree ("userId");


--
-- Name: GroupMessage_createdAt_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "GroupMessage_createdAt_idx" ON public."GroupMessage" USING btree ("createdAt");


--
-- Name: GroupMessage_groupId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "GroupMessage_groupId_idx" ON public."GroupMessage" USING btree ("groupId");


--
-- Name: Lesson_courseId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Lesson_courseId_idx" ON public."Lesson" USING btree ("courseId");


--
-- Name: Lesson_order_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Lesson_order_idx" ON public."Lesson" USING btree ("order");


--
-- Name: Message_createdAt_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Message_createdAt_idx" ON public."Message" USING btree ("createdAt");


--
-- Name: Message_receiverId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Message_receiverId_idx" ON public."Message" USING btree ("receiverId");


--
-- Name: Message_senderId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Message_senderId_idx" ON public."Message" USING btree ("senderId");


--
-- Name: Notification_createdAt_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Notification_createdAt_idx" ON public."Notification" USING btree ("createdAt");


--
-- Name: Notification_isRead_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Notification_isRead_idx" ON public."Notification" USING btree ("isRead");


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: Progress_lessonId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Progress_lessonId_idx" ON public."Progress" USING btree ("lessonId");


--
-- Name: Progress_userId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Progress_userId_idx" ON public."Progress" USING btree ("userId");


--
-- Name: Progress_userId_lessonId_key; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE UNIQUE INDEX "Progress_userId_lessonId_key" ON public."Progress" USING btree ("userId", "lessonId");


--
-- Name: Resource_lessonId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Resource_lessonId_idx" ON public."Resource" USING btree ("lessonId");


--
-- Name: StudyGroupMember_groupId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "StudyGroupMember_groupId_idx" ON public."StudyGroupMember" USING btree ("groupId");


--
-- Name: StudyGroupMember_groupId_userId_key; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE UNIQUE INDEX "StudyGroupMember_groupId_userId_key" ON public."StudyGroupMember" USING btree ("groupId", "userId");


--
-- Name: StudyGroupMember_userId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "StudyGroupMember_userId_idx" ON public."StudyGroupMember" USING btree ("userId");


--
-- Name: Submission_assignmentId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Submission_assignmentId_idx" ON public."Submission" USING btree ("assignmentId");


--
-- Name: Submission_assignmentId_userId_key; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE UNIQUE INDEX "Submission_assignmentId_userId_key" ON public."Submission" USING btree ("assignmentId", "userId");


--
-- Name: Submission_userId_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "Submission_userId_idx" ON public."Submission" USING btree ("userId");


--
-- Name: UniversityProgram_college_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "UniversityProgram_college_idx" ON public."UniversityProgram" USING btree (college);


--
-- Name: UniversityProgram_isActive_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "UniversityProgram_isActive_idx" ON public."UniversityProgram" USING btree ("isActive");


--
-- Name: UniversityProgram_title_key; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE UNIQUE INDEX "UniversityProgram_title_key" ON public."UniversityProgram" USING btree (title);


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_role_idx; Type: INDEX; Schema: public; Owner: tisa_admin
--

CREATE INDEX "User_role_idx" ON public."User" USING btree (role);


--
-- Name: AIInteraction AIInteraction_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."AIInteraction"
    ADD CONSTRAINT "AIInteraction_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AccessibilitySettings AccessibilitySettings_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."AccessibilitySettings"
    ADD CONSTRAINT "AccessibilitySettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Achievement Achievement_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Achievement"
    ADD CONSTRAINT "Achievement_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AssessmentResult AssessmentResult_assessmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."AssessmentResult"
    ADD CONSTRAINT "AssessmentResult_assessmentId_fkey" FOREIGN KEY ("assessmentId") REFERENCES public."Assessment"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AssessmentResult AssessmentResult_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."AssessmentResult"
    ADD CONSTRAINT "AssessmentResult_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ChatSession ChatSession_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."ChatSession"
    ADD CONSTRAINT "ChatSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseReview CourseReview_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."CourseReview"
    ADD CONSTRAINT "CourseReview_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseReview CourseReview_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."CourseReview"
    ADD CONSTRAINT "CourseReview_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Course Course_creatorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Course Course_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CurriculumEntry CurriculumEntry_programId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."CurriculumEntry"
    ADD CONSTRAINT "CurriculumEntry_programId_fkey" FOREIGN KEY ("programId") REFERENCES public."UniversityProgram"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Enrollment Enrollment_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Enrollment Enrollment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FacultySubject FacultySubject_facultyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."FacultySubject"
    ADD CONSTRAINT "FacultySubject_facultyId_fkey" FOREIGN KEY ("facultyId") REFERENCES public."Faculty"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FacultySubject FacultySubject_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."FacultySubject"
    ADD CONSTRAINT "FacultySubject_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: GroupMessage GroupMessage_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."GroupMessage"
    ADD CONSTRAINT "GroupMessage_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."StudyGroup"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Lesson Lesson_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Lesson"
    ADD CONSTRAINT "Lesson_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_receiverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_receiverId_fkey" FOREIGN KEY ("receiverId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Progress Progress_lessonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Progress"
    ADD CONSTRAINT "Progress_lessonId_fkey" FOREIGN KEY ("lessonId") REFERENCES public."Lesson"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Progress Progress_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Progress"
    ADD CONSTRAINT "Progress_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Resource Resource_lessonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Resource"
    ADD CONSTRAINT "Resource_lessonId_fkey" FOREIGN KEY ("lessonId") REFERENCES public."Lesson"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StudyGroupMember StudyGroupMember_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."StudyGroupMember"
    ADD CONSTRAINT "StudyGroupMember_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."StudyGroup"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StudyGroupMember StudyGroupMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."StudyGroupMember"
    ADD CONSTRAINT "StudyGroupMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Submission Submission_assignmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Submission"
    ADD CONSTRAINT "Submission_assignmentId_fkey" FOREIGN KEY ("assignmentId") REFERENCES public."Assignment"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Submission Submission_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."Submission"
    ADD CONSTRAINT "Submission_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tisa_admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: tisa_admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict VXx4jIHQg7VytUTuqwBdhfW7YDuBF7E8DiiH8jY7L4x9JuIqXF06jg6PQOLmuVi

